crawler:
  url: "https://download.inep.gov.br/microdados/microdados_enem_2019.zip"
  data: "data"
  certificado: "cert_inep.pem"

aws:
  credentials:
    aws_secret: ""
    aws_key: ""

s3:
  data:
    filename: "data/DADOS/MICRODADOS_ENEM_2019.csv"
    bucket: ""
    objectname: "raw-data/enem/year=2019/MICRODADOS_ENEM_2019.csv"